@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto+Slab:wght@500&family=Source+Sans+Pro:wght@200;400;600&display=swap');

.newspaper-container{
    margin: auto;
    padding: 1em;
    width: 700px;
    background-color: white;
    border-color: #eee;
    border-radius: 15px;
    box-shadow: 2px 2px 2px 2px #ddd;
}

body{
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #eee;
}

header h1{
    text-align: center;
    font-family: 'Abril Fatface';
}

.date{
    text-align: left;
    font-family: 'Source Sans Pro', sans-serif;
}

nav{
    position: sticky;
    top: 0px;
    background-color: white;
}

nav ul{
    text-align: center;
    border-bottom: 1px solid lightgrey;
    border-top: 1px solid lightgrey;
}

nav li{
    list-style-type: none;
    display: inline-block;
    padding: 5px 5px;
}

nav a{
    color:#777;
}

main h2{
    font-family: 'Roboto Slab';
}

main h5{
    color: #dd3232;
    font-family: 'Roboto Slab';
}

main img{ 
    width: 100%;
}

main p{
    text-align: justify;
}

.more-articles{
    display: inline-flex;
    border-top: 1px solid #777;
    text-align: center;
    padding: auto;
    margin: auto;
}

.more-articles p{
    text-align: justify;
    padding: 10px;
}

.more-articles h4{
    font-family: 'Roboto Slab'; 
}